[defaults]
inventory           = inventory/hosts.yml
remote_user         = pi
private_key_file    = ~/.ssh/id_rpi
host_key_checking   = False
vault_password_file = ~/.vault_pass
interpreter_python  = auto_silent

[ssh_connection]
pipelining = True
